body {
    overflow: hidden;
}

#editorTabs { 
    margin-top: 5px;
    position: absolute;
    top: 0;
    left: 300px;
    right: 0;
    height:33px;
}

#editor { 
    margin: 0;
    position: absolute;
    top: 0px;
    bottom: 200px;
    left: 300px;
    right: 0;
    
}

#terminal {
    background-color: #2C2828;
    bottom: 0;
    height: 200px;
    left: 300px;
    position: absolute;
    right: 0px;
    color: #8F938F;
}

#terminal textarea{
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    height: 200px;
    resize: none;
    width: 100%;
    color: #8F938F;
	
}

#browser{
	font-family: Verdana;
	font-size: 12px;
}

#browser.jstree-classic .jstree-clicked {
	background: #99CCFF;
	border:1px solid #99CCFF;
	color: #000;
}

#vakata-contextmenu{
	font-family: Verdana;
	font-size: 11px;
}

.ace_scroller, .ace_gutter {
	padding-top: 3px;
}

.tab{
   background-color: #eee;
   border: 1px solid #ddd;
   font-family: Verdana;
   font-size: 11px;
   height: 15px;
   margin: 5px 3px 0 0;
   padding: 5px 3px;
   position: relative;
   text-align: center;
   vertical-align: middle;
   width: 100px;
}

.open{
  background-color: #ddd;	
}
