body {
    overflow: hidden;
}

#editor { 
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 200px;
    left: 300px;
    right: 0;
    
}

#terminal {
    background-color: #2C2828;
    bottom: 0;
    height: 200px;
    left: 300px;
    position: absolute;
    right: 0px;
    color: #8F938F;
}

#terminal textarea{
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    height: 200px;
    resize: none;
    width: 100%;
    color: #8F938F;
	
}