@(title: String)(implicit request: RequestHeader)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png"
              href="@routes.Assets.at("images/favicon.png")" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")" />
        <script src="@routes.Assets.at("javascripts/ace/ace.js")"
                type="text/javascript" charset="utf-8" >
        </script>
        <script src="@routes.Assets.at("javascripts/ace/theme-pastel_on_dark.js")"
                type="text/javascript" charset="utf-8" >
        </script>
        <script src="@routes.Assets.at("javascripts/ace/mode-scala.js")"
                type="text/javascript" charset="utf-8" >
        </script>
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        
    </head>
    <body>
        <pre id="editor"></pre>


        <script>
            window.onload = function() {
                window.aceEditor = ace.edit("editor");
                window.aceEditor.setTheme("ace/theme/pastel_on_dark");
           
                var ScalaMode = require("ace/mode/scala").Mode;
                window.aceEditor.getSession().setMode(new ScalaMode());
            };
            
            $(function() {
                var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
                var aceSocket = new WS("@routes.Ace.aceSocket.webSocketURL()")

                var fileName = ""
                
                var sendMessage = function() {
                   /* aceSocket.send(JSON.stringify(
                        {text: window.aceEditor.getSession().getValue()}
                    )) */
                    aceSocket.send(window.aceEditor.getSession().getValue())
                }

                var sendMessageSave = function() {
                   /* aceSocket.send(JSON.stringify(
                        {text: window.aceEditor.getSession().getValue()}
                    )) */
                    aceSocket.send("!"+fileName+"!"+window.aceEditor.getSession().getValue())
                }

                var handleKey = function(e) {
                    if(e.charCode == 36 || e.keyCode == 36) {  // hit $ to send
                        e.preventDefault()
                        fileName = window.aceEditor.getSession().getValue()
                        sendMessage()
                    }
                    if(e.charCode == 35 || e.keyCode == 35) {  // hit # to save file
                        e.preventDefault()
                        sendMessageSave()
                    }
                }
                
                var receiveEvent = function(event) {
                    //var data = JSON.parse(event.data)
                    
                    // Handle errors
                    if(event.data.error) {
                    	chatSocket.close()
                        //$("#onError span").text(data.error)
                        //$("#onError").show()
                        alert("Error");
                        return
                    } else {
                    	window.aceEditor.getSession().setValue(event.data);
                        //$("#onChat").show()
                    }
                    
                    
                }
                
                $("#editor").keypress(handleKey);
                
                aceSocket.onmessage = receiveEvent;
            });

        </script>

    </body>
</html>
