@(title: String, form: Form[(String,String)])(implicit flash: Flash)

@import header.login._

@main(title){

   @header.login.stylesheets()

   <header>
       <a href="@routes.Application.index" id="logo"><span>Scala</span>IDE</a>
   </header>
   
   @helper.form(routes.Authentication.authenticate) {
       
       <h1>Sign in</h1>
       
       @form.globalError.map { error =>
           <p class="error">
               @error.message
           </p>
       }
       
       @flash.get("success").map { message =>
           <p class="success">
               @message
           </p>
       }
       
       <p>
           <input type="email" name="email" placeholder="Email" id="email" value="@form("email").value">
       </p>
       <p>
           <input type="password" name="password" id="password" placeholder="Password">
       </p>
       <p>
           <button type="submit" id="loginbutton">Login</button>
       </p>
       
   }
   
   <p class="note">
       email: name@@test.de pw: 123
   </p>           
}
    


